<section class="grid gap-4 p-4 overflow-hidden">
    <h2><b>Tablas</b></h2>
    <section>
        <h3>Light</h3>
        <table-simple [title]="tableConfig.title" [configTable]="tableConfig.config" [data]="tableConfig.data" />
    </section>
    <section class="dark">
        <h3>Darken</h3>
        <table-simple [title]="tableConfig.title" [configTable]="tableConfig.config" [data]="tableConfig.data" />
    </section>
    <section class="dark">
        <h3>Darken</h3>
        
    </section>
</section>
<section class="grid gap-4 grid-cols-4 p-4 overflow-hidden">
    <h2 class="col-start-1 col-end-5">Slide bar</h2>
    <section>
        <generic-slide-navbar [data]="menuConfig" title="Miggo contable"></generic-slide-navbar>
    </section>
    <section class="dark">
        <generic-slide-navbar [data]="menuConfig" title="Miggo contable"></generic-slide-navbar>
    </section>
</section>
<section class="grid grid-cols-2 gap-4">
    <app-simple-input-form [Grid]="4" [Fields]="inputConfig" (result)="inputFilds($event)"/>
    <app-simple-input-form [Grid]="3" [Fields]="inputConfig" (result)="inputFilds($event)"/>
    <app-simple-input-form [Grid]="2" [Fields]="inputConfig" (result)="inputFilds($event)"/>
</section>
<section>
    <h2>navbar landing generic</h2>
    <section>
        <app-notus-navbar [config]="configNavbar"></app-notus-navbar>
    </section>
</section>
<section>
    <h2>profile</h2>
    <section>
        <app-notus-profile [config]="configProfile" [edit]="false"></app-notus-profile>
    </section>
</section>
<section>
    <h2>table</h2>
    <section>
        <app-notus-export [configTable]="configTable"></app-notus-export>
        <app-notus-table [configTable]="configTable" [configDropdowm]="configDropdown"></app-notus-table>
    </section>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>