<a *ngIf="config?.focusText==null" class="text-slate-500 block py-1 px-3" href="#miggo" (click)="toggleDropdown($event)"
  #btnDropdownRef>
  <i class="fas fa-ellipsis-v"></i>
</a>
<a *ngIf="config?.focusText!=null"
  class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
  href="#miggo" (click)="toggleDropdown($event)" #btnDropdownRef>
  {{config?.focusText}}
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div class="bg-white text-base float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'">
    <div *ngFor="let option of config?.options">
      <span *ngIf="option.type=='title'"
        class="text-sm pt-2 pb-0 px-4 font-bold block w-full whitespace-nowrap bg-transparent text-slate-400">
        <i *ngIf="option.icon!=null" class="{{option.icon}} leading-lg lg:text-slate-200 text-lg text-slate-400"></i>
        {{option.optionText}}
      </span>
      <a *ngIf="option.url!=null && option.type!='title'" [routerLink]="[option.url]"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-slate-700 hover:bg-slate-200">
        <i *ngIf="option.icon!=null" class="{{option.icon}} leading-lg lg:text-slate-200 text-lg text-slate-400"></i>
        {{option.optionText}}
      </a>
      <a *ngIf="option.metod!=null && option.type!='title'" (click)="option.metod()" 
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-slate-700 cursor-pointer hover:bg-slate-200">
        <i *ngIf="option.icon!=null" class="{{option.icon}} leading-lg lg:text-slate-200 text-lg text-slate-400"></i>
        {{option.optionText}}
      </a>
    </div>
  </div>
</div>