<nav class="top-0 fixed z-50 w-full {{config?.properties?.position}} flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg {{config?.properties?.bgColor}}">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']"
      class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
        <img *ngIf="config?.title?.image!=null" src="{{config?.title?.image}}" alt="..." class="w-10 h-10" />
        {{config?.title?.text}}
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }" id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center" *ngFor="let dropdown of config?.dropdowns">
          <app-notus-dropdown class="block" [config]="dropdown"></app-notus-dropdown>
        </li>
        <li class="flex items-center" *ngFor="let icon of config?.icons">
          <a class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="{{icon.rute}}" target="_blank">
            <i class="lg:text-slate-200 text-slate-400 {{icon.icon}} text-lg leading-lg"></i>
            <span class="lg:hidden inline-block ml-2">{{icon.text}}</span>
          </a>
        </li>

        <li class="flex items-center" *ngFor="let button of config?.buttons">
          <button (click)="button.metod()"
            class="bg-white text-slate-700 active:bg-slate-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button">
            <i class="{{button.icon}}"></i> {{button.text}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>