<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg opacity-75 bg-black">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
        {{config?.title}}
      </a>
    </div>
    <div class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }" id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-auth-navbar">
            <i class="lg:text-slate-200 text-slate-400 far fa-file-alt text-lg leading-lg mr-2"></i>
            Docs
          </a>
        </li>
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
          <!-- <app-pages-dropdown class="block"></app-pages-dropdown> -->
        </li>
        <li class="flex items-center" *ngFor="let icon of config?.icons">
          <a class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="{{icon.rute}}" target="_blank">
            <i class="lg:text-slate-200 text-slate-400 {{icon.icon}} text-lg leading-lg"></i>
            <span class="lg:hidden inline-block ml-2">{{icon.text}}</span>
          </a>
        </li>

        <li class="flex items-center" *ngFor="let button of config?.buttons">
          <button (click)="button.metod()"
            class="bg-white text-slate-700 active:bg-slate-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button">
            <i class="{{button.icon}}"></i> {{button.text}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>