<nav
    class="md:left-0 md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 ps-6 dark:bg-red-900 dark:text-white">
    <!-- Collapse -->
    <div class="grid grid-rows-[10%,90%] h-full w-full">
        <!-- Collapse header -->
        <div class="flex items-center border-b border-solid border-slate-200">
            <a class="md:block text-left md:pb-2 text-slate-600  dark:text-white mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                ng-reflect-router-link="/" href="/"><span class="block sm:hidden"> Tailwind Angular </span><span
                    class="hidden sm:block"> {{_title}}</span></a>
        </div>
        <!-- Collapse content -->
        <section class="max-h-full h-full overflow-auto" name="" >
            <div *ngFor="let menuItem of _menuData" class="menu_section" appToggle classToggle="openItem">
                <!-- Heading -->
                <h6
                    class="md:min-w-full text-slate-500 dark:text-white text-xs uppercase font-bold block pt-1 pb-2 no-underline">
                    <i [ngClass]="menuItem.imagen"></i>
                    {{menuItem.descripcion}}
                </h6>
                <!-- Navigation -->

                <ul class="md:flex-col flex flex-col list-none" >
                    <li class="items-center flex text-xs uppercase font-bold " 
                    [routerLink]="[child.url]"
                    routerLinkActive #adminDashboard="routerLinkActive" [ngClass]="
                            adminDashboard.isActive
                                ? 'text-red-600  hover:text-red-700'
                                : 'text-slate-700 hover:text-slate-500 dark:text-white dark:opacity-50 dark:hover:opacity-80'"
                    *ngFor="let child of menuItem.hijos">
                    <i class="fas fa-tv mr-2 text-sm" [ngClass]="adminDashboard.isActive ? 'opacity-75' : 'text-slate-300'"></i>
                    {{child.descripcion}}
                    </li>

                </ul>
                <!-- Divider -->
                <hr class="my-4 md:min-w-full" />
            </div>
        </section>
    </div>
</nav>