<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="configTable?.color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg" [ngClass]="configTable?.color === 'light' ? 'text-slate-700' : 'text-white'">
          {{configTable?.title}}
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th *ngFor="let header of configTable?.config?.headers"
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              configTable?.color === 'light'
                ? 'bg-slate-50 text-slate-500 border-slate-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            {{header}}
          </th>
          <th *ngIf="configDropdowm!=null" 
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              configTable?.color === 'light'
                ? 'bg-slate-50 text-slate-500 border-slate-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let object of configTable?.data">
          <td *ngFor="let pro of configTable?.config?.properties;let idx=index"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            
            <!-- typeImageGroup -->
            <div *ngIf="pro.type=='typeImageGroup'" class="flex">
              <img *ngFor="let urlImg of object[pro.column]; let i = index" src="{{urlImg}}" alt="..."
                [ngClass]="{'-ml-4':i>0}" class="w-10 h-10 rounded-full border-2 border-slate-50 shadow" />
            </div>

            <!-- typeState,typeTextAndImage,typeText -->
            <!-- class="fas fa-circle text-{{object.config[idx].state.color}}-500 mr-2"></i> -->
            <!-- class="fas fa-{{object.config[idx].state.typeState}} text-{{object.config[idx].state.color}}-500 mr-4"></i> -->
            <div class="text-left flex items-center">
              <i *ngIf="pro.type=='typeState' && pro.typeState=='point'"
                class="fas fa-circle text-emerald-500 mr-2"
                [ngClass]="{
                  'text-emerald-500': (object[pro.column]|uppercase) =='ACTIVO' || 
                                      (object[pro.column]|uppercase)=='COMPLETADO' || 
                                      (object[pro.column]|uppercase)=='FINALIZADO',
                  'text-teal-500':    (object[pro.column]|uppercase)=='PROGRAMADO',
                  'text-orange-500':  (object[pro.column]|uppercase)=='PENDIENTE',
                  'text-red-500':     (object[pro.column]|uppercase)=='ELIMINADO' || 
                                      (object[pro.column]|uppercase)=='INACTIVO',
                }"
                ></i>
              <i *ngIf="pro.type=='typeState' && (pro.typeState=='arrow-up'||pro.typeState=='arrow-down')"
                class="fas fa-{{pro.typeState}}"
                [ngClass]="{
                  'text-emerald-500': (object[pro.column]|uppercase) =='ACTIVO' || 
                                      (object[pro.column]|uppercase)=='COMPLETADO' || 
                                      (object[pro.column]|uppercase)=='FINALIZADO',
                  'text-teal-500':    (object[pro.column]|uppercase)=='PROGRAMADO',
                  'text-orange-500':  (object[pro.column]|uppercase)=='PENDIENTE',
                  'text-red-500':     (object[pro.column]|uppercase)=='ELIMINADO' || 
                                      (object[pro.column]|uppercase)=='INACTIVO',
                }"
                ></i>

              <img *ngIf="pro.type=='typeTextAndImage' && pro.columnImg!=null" src="{{object[pro.columnImg]}}" class="h-12 w-12 bg-white rounded-full border" alt="..." />
              <span *ngIf="pro.type=='typeTextAndImage' || pro.type=='typeState' || pro.type=='typeText'" [ngClass]="{
                  'text-slate-600':configTable?.color=='light',
                  'text-white':configTable?.color!='light',
                  'ml-3 font-bold':pro.bold
                }">
                {{object[pro.column]}}
              </span>
            </div>
            <!-- typeProgress -->
            <div *ngIf="pro.type=='typeProgress' && pro.typeState=='bar'" class="flex items-center">
              <span class="mr-2">{{object[pro.column]}}</span>
              <div class="relative w-full">
                <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                  <div [ngStyle]="{width:object[pro.column]}"
                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center" 
                    [ngClass]="{
                      'bg-red-500':convertStringToNumber(object[pro.column])<50,
                      'bg-orange-500':convertStringToNumber(object[pro.column])>50 && convertStringToNumber(object[pro.column])<80,
                      'bg-teal-500':convertStringToNumber(object[pro.column])<100 && convertStringToNumber(object[pro.column])>80  ,
                      'bg-emerald-500':convertStringToNumber(object[pro.column])==100
                    }">
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td *ngIf="configDropdowm!=null" class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
            <app-notus-dropdown [config]="configDropdowm"></app-notus-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
